body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.animacion {
  animation-duration: 1s;
  animation-name: zoomIn;
}
p {
  font-size: 1rem;
  line-height: 1.6;
}
@keyframes zoomIn {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.logo {
  width: 80px;
  margin-left: 130px;
}

.logowasap {
  width: 70px;
  margin-left: 50px;
}
.logoGit {
  width: 50px;
  margin-left: 50px;
}

.logos {
  display: flex;
  flex-direction: row;
  align-items: center;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}
.letra {
  font-size: 35px;
  margin-left: 10px;
  font-weight: bold;
  text-decoration: none;
}
.contact-container {
  display: flex;
  justify-content: space-between; /* Ajusta el espacio entre el texto y los íconos */
  align-items: end; /* Alinea verticalmente el texto y los íconos */
  gap: 2rem; /* Espacio entre el texto y los íconos */
}
.textP {
  --tw-text-opacity: 1;
  color: rgb(96 110 128 / var(--tw-text-opacity));
  -ms-text-size-adjust: inherit;
}
