.alineado{
    text-align:center ;
 }
 .texto{
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    width: 200px;
    background-color: rgb(245, 245, 245);
    margin-left: 20px;
 }
 .mainContent{
     display: flex;
     justify-content: space-evenly;
 }

.grilla{
    display: grid;
    /*grid-template-columns:250px 250px 250px;//como generar disposicion basica de la grulla*/
    /*grid-column: repeat(3,250px);*/
     grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
     grid-auto-rows:auto;
     gap: 15px;

}
.grilla2{
    display: grid;
    /*grid-template-columns:250px 250px 250px;//como generar disposicion basica de la grulla*/
    /*grid-column: repeat(3,250px);*/
    /* grid-template-columns: repeat(auto-fit, minmax(300px,1fr));*/
     grid-template-columns: repeat(3,300px);
    /* grid-auto-rows:auto;*/
    grid-template-rows: repeat(3,300px);
     gap: 15px;
}
    .fotoDinamica{
        width: 55%;
        aspect-ratio: 1 / 1;/*es opcional -- darle estructura*/
        object-fit:contain; /*https://developer.mozilla.org/es/docs/Web/CSS/object-fit*/
    }
.fotoMini{
        width: 8.5%;
        aspect-ratio: 1 / 1;/*es opcional -- darle estructura*/
        object-fit:contain; /*https://developer.mozilla.org/es/docs/Web/CSS/object-fit*/
        border-radius: 95px;
       
        background-color: rgb(255, 252, 252);
    }


.alineadoFoto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alineadoPagina{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.bulBorde{
    border: 2px solid rgb(28, 100, 122);
    border-radius: 30px;
    background-color: rgb(28, 100, 122);
    margin-bottom: 200px;
  }
.fueBorde{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 30px;
    background-color: rgb(0, 0, 0);
    margin-bottom: 200px;
  }
.psyBorde{
    border: 2px solid rgb(207, 205, 75);
    border-radius: 30px;
    background-color: rgb(207, 205, 75);
    margin-bottom: 200px;
  }

.squiBorde{
    border: 2px solid rgb(0, 117, 126);
    border-radius: 30px;
    background-color: rgb(0, 117, 126);
    margin-bottom: 200px;
  }
.hauBorde{
    border: 2px solid rgb(80, 0, 126);
    border-radius: 30px;
    background-color: rgb(80, 0, 126);
    margin-bottom: 200px;
  }
.mudBorde{
    border: 2px solid rgb(0, 217, 255);
    border-radius: 30px;
    background-color: rgb(0, 217, 255);
    margin-bottom: 200px;
  }
.eeveBorde{
    border: 2px solid rgb(167, 98, 33);
    border-radius: 30px;
    background-color: rgb(167, 98, 33);
    margin-bottom: 200px;
  }
.pidBorde{
    border: 2px solid rgb(177, 30, 30);
    border-radius: 30px;
    background-color: rgb(177, 30, 30);
    margin-bottom: 200px;
  }
.mewBorde{
    border: 2px solid rgb(183, 108, 226);
    border-radius: 30px;
    background-color: rgb(183, 108, 226);
    margin-bottom: 200px;
  }
.numero
{
  color: white;
  
}