.avatar {
  display: flex;
  justify-content: center;
}

.grilla2 {
  text-align: start;
  gap: 100px;
  margin: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  width: 1fr;
}
.grilla {
  display: grid;

  grid-template-columns: repeat(3, 1fr);

  grid-template-rows: repeat(3, 300px);
  gap: 10px;
}
.borde {
  border: 2px solid rgb(28, 100, 122);
  border-radius: 15px;
  background-color: rgb(28, 100, 122);
  margin-bottom: 230px;
  height: 500px;
}
