.alineado{
    text-align:center ;
 }

.borde{
    border: 2px solid rgb(28, 100, 122);
    border-radius: 40px;
    background-color: rgb(28, 100, 122);
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    color: white;
  }

.caja{
    display: flex;
    justify-content: center;
}
